<!-- Footer -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="p0-15-30" style="padding-bottom: 40px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td
            class="text-footer1 pb10"
            style="color:#777777; font-family:Arial, sans-serif; font-size:14px; line-height:20px; text-align:center; padding-bottom:10px;"
          >
            RPGMan - Roleplaying game Manager
          </td>
        </tr>
        <tr>
          <td
            class="text-footer2 pb20"
            style="color:#777777; font-family:Arial, sans-serif; font-size:12px; line-height:26px; text-align:center; padding-bottom:20px;"
          >
            Fantasy Road 666, Imagination City 9000, Republic of Chaman
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END Footer -->

