default:
  suites:
    default:
      paths:
        features: 'tests/acceptance/features'
      contexts:
        - App\Tests\acceptance\context\ApiReadyContext
        - App\Tests\acceptance\context\User\CreateUserContext
        - App\Tests\acceptance\context\User\ResetPasswordContext
        - App\Tests\acceptance\context\User\ChangePasswordContext

  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: tests/bootstrap.php
    Behat\MinkExtension:
      sessions:
        symfony:
          symfony: ~
