parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Symfony/Infrastructure/Migrations/*
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
