{% extends "emails/base.email.html.twig" %}

{% block title %}Pasword reset requested{% endblock %}
{% block content %}
  <!-- Hero -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left;">
        {% include 'emails/_parts/banner.image.html.twig' %}
      </td>
    </tr>
    <tr>
      <td class="p30-15" style="padding: 40px 0px 40px 0px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="h3 pb15" style="color:#000000; font-family:Arial, sans-serif; font-size:22px; line-height:32px; text-align:left; padding-bottom:15px;">{{ username }}, you have requested to reset your password.</td>
          </tr>
          <tr>
            <td class="text pb15" style="color:#666666; font-family:Arial, sans-serif; font-size:15px; line-height:28px; text-align:left; padding-bottom:15px;">Please click on the link below and you will be redirected to our application so you can reset your password.</td>
          </tr>
          <tr>
            <td
              class="text-link"
              style="color:#0000ee; font-family:Arial, sans-serif; font-size:16px; line-height:28px; text-align:left;"
            >
              <a href="#" target="_blank" class="link-u" style="color:#0000ee; text-decoration:underline;">
                <span class="link-u" style="color:#0000ee; text-decoration:underline;">Reset password</span>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="1" bgcolor="#e5e5e5" class="img" style="font-size:0pt; line-height:0pt; text-align:left;">&nbsp;</td>
    </tr>
    <tr>
      <td class="pb40" style="padding-bottom:40px;"></td>
    </tr>
  </table>
  <!-- END Hero -->
{% endblock %}
